[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
channels = "*"
aiopubsub = "*"

[dev-packages]
"flake8" = "*"
black = "*"
pdbpp = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
